.DS_Store
.env
.vscode/
data/
.venv/
aur-bin/.SRCINFO
aur-bin/src/
aur-bin/pkg/
aur-bin/*.tar.*
aur-bin/*.zstaur/pkg/
aur/src/
aur/rowboat/
aur/*.pkg.tar.zst
aur/*.deb
aur-bin/*.deb
aur-bin/*.deb
aur/*.deb
aur/*.pkg.tar.zst
aur/rowboat/
aur-bin/rowboat-linux_0.1.56_amd64.deb
aur/pkg
aur/rowboat
aur/rowboat-git-r1357.bbed2f79-1-x86_64.pkg.tar.zst
aur/srcaur/pkg/
aur/src/
aur/rowboat/
aur/*.pkg.tar.zst
aur/*.deb
aur-bin/*.deb
